/* .Dashboard button { */
.Button {
  background-color: #0BD;
  border-radius: 3px;
  border: none;
  padding: 6px 12px 8px 12px;
  font-size: 14px;
  color: #000;
  width: 120px;
  cursor: pointer;
}

/* .Dashboard button:hover { */
.Button:hover {
  background-color: #0cf;
}

/* .Dashboard button.btnRed { */
.Button.btnRed {
  background-color: #e50;
  color: #fff;
}

/* .Dashbaord button.btnRed:hover { */
.Button.btnRed:hover {
  background-color: #c00;
}

.red {
  color: #f00;
}

.allcaps {
  text-transform: uppercase;
  font-weight: 700;
}
