.App {
  text-align: center;
}

.App-title {
  font-size: 3em;
  letter-spacing: -.015em;
}

.App-intro {
  font-size: large;
}

p {
  font-size: 12px;
}

.red {
  color: #f00;
}

.allcaps {
  text-transform: uppercase;
  font-weight: 700;
}
